################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Stl-Network/Debug/xerces-c_3_1D.ilk
